.movie-card {
    background-color: black;  
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  .movie-card img {
    width: 80%;
    border-radius: 10px;
  }
  